body { 
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;

}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
}
/* ======HEADER====== */
.container{
    width: 100%;
    max-width: 1158px;
    /* width: 1284px */
    padding: 0 15px;
    margin: 0 auto;

}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
}
.header-container {
    display: flex;
    align-items: center;
}

.logo-web  {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    margin-right: 76px;
}


.logo-studio {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.carent {
    position: relative;
    color: #404bbf;
}
.carent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts:hover,
.address-contacts:focus {
    color: #404BBF;
}
/* ============= */


/* =====Title===== */
.main {
}

.section-main {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:  #FFF;
    margin: 0 auto 48px auto;
    max-width: 496px;
    display: block;

}
/* ============ */

/* ======Button===== */
.button {
    color:  #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    cursor: pointer;  
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* ================= */

/* =========Section one======= */
.section-nav {
    padding: 120px 0;
}

.benefits-container{
    
}

.section-subject {
    /* Benefits */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-main-list {
    display: flex;
    gap: 24px;
}
.icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}
.section-main-item {
    width: calc((100% - 72px) / 4);
}

.section-main-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-main-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;   
}
/* ============ */


/* ======Section two======= */

.section-our-team {
    background: #F4F4FD;
    padding: 120px 0;
    
}
.our-team-container {
    
}
.section-our-team-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
} 

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-item {
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.img-gallery {
    background: #FFF;
}
.name-content-section {
    padding: 32px 0;
}
.name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.name-content {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
}
/* =============== */

/* =========Section three======== */
.section-our-portfolio {
    background: #FFF;
    padding: 120px 0 120px 0;
    
    
}
.portfolio-container {

}
.section-portfolio-heading {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio-img:hover .text-portfolio-img {
    transform: translatey(0);
}

.text-portfolio-img {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.img-portfolio {
    background: #FFF;
}
.name-portfolio-section{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.name-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-portfolio {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em; 
}
/* ================ */

/* ===========Footer========== */
.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-page {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}


.end-line {
    margin-right: 120px;

}

.footer-logoweb {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex-shrink: 0;
    display: inline-block;
    margin-bottom: 16px;  
}

.footer-logostudio {
    color: #F4F4FD;
}

.fotter-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px; 
}
.div-footer-icon {
    display: block;
    justify-content: center;
    align-items: center;
}
.text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
    display: flex;
}

.icon-list-footer {
    display: flex;
    gap: 16px;
}

.icon-item-footer {
    width: 40px;
    height: 40px;
}

.icon-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon-link-footer:hover {
    background-color: #31d0aa;
}
.icon-link-footer:focus {
    background-color: #31d0aa;

}

.icon-icon-fotter {
    fill: #f4f4fd;
}

/* =============== */


/* Icon */
.icon-container {
    display: flex;
}
.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-item {
    width: 40px;
    height: 40px;
}
.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    background-repeat: 50%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 8px;
}


.icon-icon {
    fill: #f4f4fd;
    
}
.icon-link:hover, 
.icon-link:focus {
    background-color: #404bbf;
}
